:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: grey;
}

/* copy from here */

.QuestionBox {
  border-style: solid;
  padding: .5rem;
  width: 55%;
  background-color: whitesmoke;
}

.Title {
  width: 90%;
}

.Body {
  width: 90%;
  height: 10rem;
}

.Tags {
  width: 90%;
}

.Instructions {
  border-style: solid;
  margin: 1rem;
  width: 30%;
  background-color: whitesmoke;
}

.one {
  border-bottom: solid;
}

.two {
  border-bottom: solid;
}

.Top {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  padding-left: 1rem;
}

.Top h2 {
  padding-left: 2rem;
}

.QandI {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

button {
  margin: 1rem;
}